version: '3'

services:
  api:
    build: .
    container_name: volticar-api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mongodb://Volticar:RJW1128@59.126.6.46:27017/?authSource=admin
      - VOLTICAR_DB=Volticar
      - CHARGE_STATION_DB=charge_station
      - SECRET_KEY=${SECRET_KEY:-09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7}
      - API_ENV=production
    restart: always
    networks:
      - volticar-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M

networks:
  volticar-network:
    driver: bridge 