version: '3'

services:
  api:
    build: .
    container_name: volticar-api
    ports:
      - "0.0.0.0:22000:22000"
    environment:
      - DATABASE_URL=mongodb://Volticar:REMOVED_PASSWORD@59.126.6.46:27017/?authSource=admin
      - VOLTICAR_DB=Volticar
      - CHARGE_STATION_DB=charge_station
      - SECRET_KEY=REMOVED_SECRET_KEY
      - API_ENV=development
      - API_HOST=0.0.0.0
      - API_PORT=22000
      - PYTHONIOENCODING=utf-8
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
      - SSL_KEYFILE=/etc/certs/live/volticar.dynns.com/privkey.pem
      - SSL_CERTFILE=/etc/certs/live/volticar.dynns.com/fullchain.pem
    volumes:
      - ./app:/app/app
      - ./requirements.txt:/app/requirements.txt
      - ./logs:/app/logs # 新增日誌資料夾映射
      - C:\Certbot:/etc/certs
    restart: always
    networks:
      - volticar-network
    command: >
      sh -c "
        chmod +r /etc/certs/live/volticar.dynns.com/privkey.pem /etc/certs/live/volticar.dynns.com/fullchain.pem && \
        echo 'Attempted to set read permissions on SSL certs.' && \
        ls -l /etc/certs/live/volticar.dynns.com/privkey.pem /etc/certs/live/volticar.dynns.com/fullchain.pem && \
        uvicorn main:app --host 0.0.0.0 --port 22000 --ssl-keyfile=/etc/certs/live/volticar.dynns.com/privkey.pem --ssl-certfile=/etc/certs/live/volticar.dynns.com/fullchain.pem
      "

networks:
  volticar-network:
    driver: bridge
