version: '3'

services:
  api:
    build: .
    container_name: volticar-api
    ports:
      - "0.0.0.0:22000:22000"
    environment:
      - DATABASE_URL=mongodb://Volticar:REMOVED_PASSWORD@59.126.6.46:27017/?authSource=admin
      - VOLTICAR_DB=Volticar
      - CHARGE_STATION_DB=charge_station
      - SECRET_KEY=REMOVED_SECRET_KEY
      - API_HOST=0.0.0.0
      - API_PORT=22000
    volumes:
      - ./app:/app/app
    restart: always

networks:
  volticar-network:
    driver: bridge 