version: '3'

services:
  api:
    build: .
    container_name: volticar-api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mongodb://Volticar:REMOVED_PASSWORD@59.126.6.46:27017/?authSource=admin
      - VOLTICAR_DB=Volticar
      - CHARGE_STATION_DB=charge_station
      - SECRET_KEY=REMOVED_SECRET_KEY
    volumes:
      - ./app:/app/app
    networks:
      - volticar-network
    restart: always

networks:
  volticar-network:
    driver: bridge 